<%- if controller_name != 'sessions' %>
  <div class="row">
    <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns text-center">
      <%= t('.new_session_text') %> <%= link_to t('.new_session_path_link'), new_session_path(resource_name) %>
    </div>
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="row">
    <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns text-center">
      <%= t('.new_registration_text') %> <%= link_to t('.new_registration_path_link'), new_registration_path(resource_name) %>
    </div>
  </div>  
<% end -%>