<div class="row collapse">
  <div class="small-12 medium-12 large-12 project columns">
    <% if current_page?(user_project_units_path(current_user, @project)) %>
      <%= link_to new_user_project_unit_path(current_user, @project, unit_id: unit.id) do %>
        <%= render partial: 'units/unit_data', locals: { unit: unit } %>
      <% end %>
    <% else %>
      <%= link_to user_project_unit_path(current_user, @project, unit) do %>
        <%= render partial: 'units/unit_data', locals: { unit: unit } %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @units.last != unit %>
  <hr>
<% end %>