.logo {
  i {
    font-size: 8em;
    line-height: 0;
  }
  
  h1 {
    font-weight: bold;
    margin-top: -0.6em;
    margin-bottom: 0.6em;
  }
}

.prefix.field-icon {
  font-size: 1.6em;
}

.signup {
  margin-top: -0.4em;
  margin-bottom: 0.6em;
}

p.create-user-agreement {
  line-height: 0.8em;
  margin-top: 1em; 
}

.alert-box {
  margin-top: 1em;
}


