.logo {
  i {
    font-size: 8em;
    line-height: 0;
  }
  
  h1 {
    font-weight: bold;
    margin-top: -0.6em;
    margin-bottom: 0.6em;
  }
}

.prefix.field-icon {
  font-size: 1.6em;
}

.signup-text {
  margin-top: -0.4em;
  margin-bottom: 0.6em;
}

.empty-projects-text {
  margin-top: 6em;
}

p.create-user-agreement {
  line-height: 0.8em;
  margin-top: 1em; 
}

.alert-box {
  margin-top: 1em;
}

i.button-icon {  
  font-size: 1.6em;
  vertical-align: middle;
  margin-right: 0.2em;
}

i.button-icon-small {
  font-size: 1.2em;  
}

.form-panel {
  margin-top: 1em;
}

.project-name {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.project {
  a:link {
    color: #222222;
  }

  a:visited {
    color: #222222;
  }
}

.pagination {
  margin-top: 1.2em;
  margin-bottom: 0em;
}

.custom-icon-bar-small-only {
  padding-bottom: 5em;
}

.custom-icon-bar-medium-up {
  padding-bottom: 6.5em;
}