.logo {
  i {
    font-size: 8em;
    line-height: 0;
  }

  h1 {
    font-weight: bold;
    margin-top: -0.6em;
    margin-bottom: 0.6em;
  }
}

.prefix.field-icon {
  font-size: 1.6em;
}

.signup-text {
  margin-top: -0.4em;
  margin-bottom: 0.6em;
}

.empty-projects-text {
  margin-top: 6em;
}

p.create-user-agreement {
  line-height: 0.8em;
  margin-top: 1em;
}

.alert-box {
  margin-top: 1em;
}

i.button-icon-small {
  font-size: 1.2em;
}

.form-panel {
  margin-top: 1em;
}

.project-name {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.unit-name {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.unit-information {
  font-size: 0.9em;
}

.unit-sale-price {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.project {
  a:link {
    color: #222222;
  }

  a:visited {
    color: #222222;
  }
}

.pagination {
  margin-top: 1.2em;
  margin-bottom: 0em;
}

.custom-icon-bar-small-only {
  padding-bottom: 5em;
}

.custom-icon-bar-medium-up {
  padding-bottom: 6.5em;
}

a.edit-project-button {
  margin-top: 1em;
}

ul.project-buttons-stack {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul.add-units-stack {
  margin-top: 1em;
}

.multiple-units-name-explanation {
  line-height: 1.5em;
  margin-top: -1.4em;
  margin-bottom: 1.5em;
}

.unit-label {
  margin-top: -0.5em;
}

.sensitivity-analisys-button {
  margin-top: 1em;
  margin-bottom: -0.8em;
}

.new-sensitivity-analysis-label {
  margin-top: -0.5em;
  margin-bottom: 0.8em;
}

.sensitivity-analysis-name {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.sensitivity-analysis-label {
  margin-top: -0.5em;
}

.row-alternate-color {
  background-color: #EEEEEE;
}

.row-total-report {
  border-top: 1px solid #222222;
}

.report-project-name {
  border-bottom: 2px solid #222222;
  text-align: center;
}

.report-header {
  margin-top: 2em;
  margin-bottom: 1em;
}

.report-title {
  text-transform: uppercase;
}

.report-section {
  margin-bottom: 1em;
  line-height: 1.8em;
}

.report-section-row {
  padding-left: 1.5em;
  padding-right: 1em;
}

#print-report-button {
  margin-top: 0.8em;
}

.chart-header {
  margin-top: 2em;
  margin-bottom: 1em;
}

.chart-title {
  text-transform: uppercase;
}