<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token, locale: "pt-BR") %></p>

<p>Se você não solicitou esse link, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que acesse o link acima e crie uma nova senha.</p>
