<header>
  <% if current_page?(root_path) then%>
    <div class="icon-bar seven-up">
      <a class="item active">
        <%= icon 'building' %>
      </a>    
      <%= link_to(destroy_user_session_path, :method => :delete, class: 'item right') do %>
        <%= icon 'sign-out' %>
      <% end %>    
    </div>
  <% end %>
</header>