<header>
  <% if current_user %>
    <div class="show-for-small-only">
      <div class="icon-bar five-up">
        <%= render 'layouts/navigation_menu_icons' %>
      </div>
    </div>

    <div class="show-for-medium-only">
      <div class="icon-bar five-up">
        <%= render 'layouts/navigation_menu_icons' %>
      </div>
    </div>

    <div class="show-for-large-up">
      <div class="icon-bar seven-up">
        <%= render 'layouts/navigation_menu_icons' %>            
      </div>
    </div>  
  <% end %>
</header>