<div id="helpModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Ajuda</h2>
  
  <% if current_page?(user_projects_path(current_user)) %>
    <p class="lead">Meus Empreendimentos</p>
    <p>Exibe todos os seus empreedimentos e permite adicionar novos.</p>
  <% end %>

  <% if current_page?(new_user_project_path(current_user)) ||
        (@project && @project.errors.any?) %>
    <p class="lead">Novo Empreendimento</p>
    <p>Preencha os campos e clique em salvar para prosseguir.</p>
  <% end %>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>